@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@100;400;500;700&family=Noto+Sans+KR:wght@300;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat';
   font-size: 16px;
   line-height: 1.5;
   color: rgb(34, 34, 34);
   font-weight: 200;
   letter-spacing: -0.45px;
}

a {
   text-decoration: none;
}

a:hover {
   color: rgb(194, 122, 52);
}

h1 {
   font-family: 'Montaga', serif;
   font-size: 96px;
   font-weight: 400;
   letter-spacing: -1.92px;
   line-height: 1;
   color: white;
}

h2 {
   font-family: 'Montaga', serif;
   font-size: 60px;
   font-weight: 400;
   letter-spacing: -1.5px;
   line-height: 1;
}

h3 {
   font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
   font-size: 22px;
   font-weight: 100;
}

h4 {
   font-family: 'Montaga';
   font-size: 22px;
   font-weight: 100;
}

h5 {
   font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
   letter-spacing: 4.8px;
   line-height: 1.2;
   font-weight: 400;
   font-size: 16px;
}

p {
   font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

div,
ul,
li {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}


ul,
ol,
dl {
   list-style: none;
}



/* Header 부분 */

.gnb_wrap {
   width: 100%;
   height: 130px;
   background-color: rgba(255, 255, 255, 0.8);
   display: flex;
   justify-content: space-between;
   padding: 0 2.5%;
   align-items: center;
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 10000;
}

.gnb_menu_a {
   padding: 0 43px;
   height: 100%;
   font-family: 'Montserrat';
   font-size: 22px;
   letter-spacing: -0.55px;
   color: black;
   line-height: 22px;
   font-weight: 400;
}

.gnb_logo_img {
   width: 127.5px;
}

.gnb_hiddenmenu {
   width: 127.5px;
   text-align: right;
}

/* Hero 부분 */

.hero_wrap {
   width: 100%;
   height: 100vh;
   background-image: url(../img/visual01.jpg);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.hero_title {
   text-align: center;
   color: white;
}

.margin_b_10 {
   margin-bottom: 10px;
}

.margin_b_20 {
   margin-bottom: 20px;
}

.margin_b_50 {
   margin-bottom: 50px;
}


.fs_18 {
   font-size: 18px;
}

.fs_20 {
   font-size: 20px;
}

.fs_22 {
   font-size: 22px;
}

.text_center {
   text-align: center;
}

.c_point {
   color: rgb(194, 122, 52);
}

.hero_reservation {
   width: 230px;
   height: 70px;
   border: 1px solid white;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 180px;
   right: 150px;
}

.hero_reservation_img {
   width: 24px;
   margin: 0 20px 0 0;
   color: white;
   fill: white;
}

.hero_reservation_img_a {
   color: white;
}

/* Main Info CSS */

.main_info_wrap {
   width: 100%;
   height: 680px;
   padding: 180px 0 0 0;
   display: flex;
   justify-content: center;
}

.main_info {
   width: 1700px;
   height: 500px;
   display: flex;
}

.main_info_text {
   width: 50%;
   height: 100%;
   padding: 100px 0 0 10%;
}

.main_info_img {
   width: 50%;
   height: 100%;
   background-image: url(../img/mi_img01.jpg);
}

/* Main Menu CSS */

.main_menu_wrap {
   width: 100%;
   height: auto;
   padding: 180px 0 0 0;
   display: flex;
   justify-content: center;
}

.main_menu {
   width: 1720px;
   height: auto;
}

.main_menu_ul {
   width: 100%;
   display: flex;
}

.main_menu_li {
   width: 410px;
   height: 500px;
   margin: 0 10px;
   padding: 20px;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

/* CSS 선택자 사용 */
.main_menu_ul li:nth-child(1) {
   background-image: url(../img/mn_img01.jpg);
   margin: 68px 10px 30px;
}

.main_menu_ul li:nth-child(2) {
   background-image: url(../img/mn_img02.jpg);
}

.main_menu_ul li:nth-child(3) {
   background-image: url(../img/mn_img03.jpg);
   margin: 68px 10px 30px;
}

.main_menu_ul li:nth-child(4) {
   background-image: url(../img/mn_img04.jpg);
}

.main_menu_li_title {
   border-bottom: 1px solid rgba(255, 255, 255, 1);
   padding: 0 0 20px;
   display: flex;
   justify-content: space-between;
   margin: 0 10px;
   align-items: center;
}

.main_menu_li_menu {
   border-top: 1px solid rgba(255, 255, 255, 1);
   padding: 20px 0 0;
   display: flex;
}

.main_menu_li_menu_1,
.main_menu_li_menu_2 {
   width: 50%;
}

.main_menu_li_menu div:nth-child(2) {
   border-left: 1px solid rgba(255, 255, 255, 0.3);
   padding: 0 0 0 30px;
}

.main_menu_li_title span {
   font-family: 'Montaga';
   font-size: 26px;
   font-weight: 400;
   letter-spacing: -0.65px;
   line-height: 39px;
}

.main_menu_li_title span:nth-child(2) {
   width: 30px;
   height: 30px;
   background-color: white;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   color: rgb(150, 150, 150);
   line-height: 25px;
   font-size: 26px;
}

.width_40p {
   width: 40%;
}

.width_60p {
   width: 60%;
}